# MAIN
HOST_IP=""

# PLEX
PLEX_CLAIM=

# VPN
VPN_SERVICE_PROVIDER=
VPN_USERNAME=
VPN_PASSWORD=

# SEEDS API KEY
API_KEY_PROWLARR=""
API_KEY_RADARR=""
API_KEY_RADARR4K=""
API_KEY_SONARR=""
API_KEY_BAZARR=""
API_KEY_OVERSEERR=""
API_KEY_MAINTAINERR=""

# OVERRIDE ANY OTHER ENV VAR
