### [!] DOMAINS
# Domain used for local network resolution => domain.tld (tld doesn't need to be a valid TLD). Choose anything you want
INTERNAL_DOMAIN=
# Domain used for outside of network resolution => Actual domain from a registrat.
# SWAG will generate a lets encrypt certs via the .ini file in swag/dns-conf
EXTERNAL_DOMAIN=

### [!] SWAG
# Which DNS provider you are using
# Depending on the DNS provider, you need to add the correct .init file in swag/dns-conf
DNSPLUGIN=cloudflare

### [!] Authelia
# The secret key used to sign and verify the JWT. 
# Can be any string you want
AUTHELIA_JWT_SECRET="a_very_important_secret"
# The encryption key that is used to encrypt sensitive information in the database. 
# Can be any string you want with a minimum length of 20
AUTHELIA_ENCRYPTION_KEY="you_must_generate_a_random_string_of_more_than_twenty_chars"

# The user used to authenticate to Authelia
AUTHELIA_USER_NAME=admin
AUTHELIA_USER_EMAIL="admin@gmail.com"
# To generate the password:
# docker run --rm authelia/authelia:latest authelia crypto hash generate argon2 --password <password>
# Copy the result of this command in the USER_PASSWORD variable
# User single quotes because the result contains $
AUTHELIA_USER_PASSWORD=''

### OVERRIDES
# override any other env var