### [!] DOMAINS
# Domain used for local network resolution => domain.tld (tld doesn't need to be a valid TLD). Choose anything you want
INTERNAL_DOMAIN=
# Domain used for outside of network resolution => Actual domain from a registrat.
# SWAG will generate a lets encrypt certs via the .ini file in swag/dns-conf
EXTERNAL_DOMAIN=

### [!] SWAG
# Which DNS provider you are using
# Depending on the DNS provider, you need to add the correct .init file in swag/dns-conf
DNSPLUGIN=cloudflare

### OVERRIDES
# override any other env var