### [!] NETWORKING
# FQDN will be HOSTNAME.DOMAIN
DOMAIN="l.ab"
HOSTNAME="home"
IP_GATEWAY="192.168.1.254"
IP_NAMESERVER="192.168.1.254"
IP_SERVER="192.168.1.100"

### [!] HARDWARE
# For example: /dev/sda or /dev/nvme0n1
DISK="/dev/nvme0n1"

### [!] USERS
# openssl passwd -6 'root!'
ROOT_PASSWORD_CRYPTED='$6$9eZSReBkzRmGNAAU$vDg1xqsRr0Yi3u7DNDonEIaKyLcGPi1NugP8ZFdoYpSG7UpoARQAS31XJ8LBOG8O4r7JzNPaiU0A0UUNiNTYN0'
# openssl passwd -6 'homelab!'
USER_PASSWORD_CRYPTED='$6$eO7dP1liLfdoc0Tm$6rL7tuqfbfoqc9Db2i2rqryWZTAscfCiXtuHhw3Gspmq.SZwvqQgc7emoYPzCfmdCtQ6NvkhBnrBfxoB5uCnj/'