### [!] GLOBAL
# Domain for internal network
INTERNAL_DOMAIN="l.ab"

### [!] PORTAINER
# bcrypt encrypted password for portainer admin user
PORTAINER_ADMIN_PASSWORD_ENCRYPTED=""
# "raw" password for portainer admin user (for automation)
PORTAINER_ADMIN_PASSWORD=""
# Authelia client secret for OIDC
PORTAINER_OIDC_CLIENT_SECRET=""

### [!] HOMARR
# Encryption secret: random string of more than 32 char
# openssl rand -hex 32
HOMARR_SECRET_ENCRYPTION_KEY=""
# Authelia client secret for OIDC
HOMARR_OIDC_CLIENT_SECRET=""

### [!] MEDIA_MANAGEMENT
# For homarr config
# Used for management dash (homarr)
API_KEY_PROWLARR=""
API_KEY_BAZARR=""
API_KEY_RADARR4K=""
API_KEY_RADARR=""
API_KEY_SONARR=""
API_KEY_SONARR4K=""

### [!] MEDIA_SERVER
# For homarr config
# Used for management dash (homarr)
# API_KEY_OVERSEERR=""
# PLEX_CLAIM=""

### OVERRIDES
# Override any other env var
