### [!] HOST
# IP of the machine that host this docker-compose app
HOME_AUTOMATION_HOST_IP=
# Define a custom subdomain. Root domain should always be the same
HOME_AUTOMATION_DOMAIN="l.ab"

### OVERRIDE
# override any other env var
