# /etc/network/interfaces
source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

# Physical NIC 
auto {{ physical_nic }}
iface {{ physical_nic }} inet manual

# vmbr0 = physical interface.
auto vmbr0
iface vmbr0 inet static
    address {{ ansible_default_ipv4.address }}
	netmask {{ ansible_default_ipv4.netmask }}
	gateway {{ ansible_default_ipv4.gateway  }}
	bridge_ports {{ physical_nic }}
    bridge_stp off
    bridge_fd 0
    comment "Physical interface wired to BOX"

    # Enable forwarding
    post-up   echo 1 > /proc/sys/net/ipv4/ip_forward
    post-down echo 0 > /proc/sys/net/ipv4/ip_forward

	# DNAT inbound traffic to FW1 (10.10.1.2) (443, 2222) ===
    post-up   iptables -t nat -A PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 443  -j DNAT --to-destination 10.10.1.2:443
    post-up   iptables -t nat -A PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 2222 -j DNAT --to-destination 10.10.1.2:2222
    post-up   iptables -A FORWARD -p tcp -d 10.10.1.2 --dport 443 -j ACCEPT
    post-up   iptables -A FORWARD -p tcp -d 10.10.1.2 --dport 2222 -j ACCEPT

    post-down iptables -t nat -D PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 443  -j DNAT --to-destination 10.10.1.2:443
    post-down iptables -t nat -D PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 2222 -j DNAT --to-destination 10.10.1.2:2222
    post-down iptables -D FORWARD -p tcp -d 10.10.1.2 --dport 443 -j ACCEPT
    post-down iptables -D FORWARD -p tcp -d 10.10.1.2 --dport 2222 -j ACCEPT

# vmbr1 = LAN GW (10.10.1.0/24) - internal L2 bridge [gateway]
auto vmbr1
iface vmbr1 inet static
	address 10.10.1.1/32
    bridge_ports none
    bridge_stp off
    bridge_fd 0

    comment "LAN GW"
	# Add route to vmbr1
	post-up   ip route add 10.10.1.0/24 dev vmbr1
    post-down ip route del 10.10.1.0/24 dev vmbr1

	# SNAT outbound traffic to internet
	post-up iptables -t nat -A POSTROUTING -s 10.10.1.0/24 -o vmbr0 -j MASQUERADE
	post-down iptables -t nat -D POSTROUTING -s 10.10.1.0/24 -o vmbr0 -j MASQUERADE

# vmbr2 = LAN MGMT (10.10.2.0/24) - internal L2 bridge [management]
auto vmbr2
iface vmbr2 inet manual
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    comment "LAN MGMT"

# vmbr3 = LAN SRV (10.10.3.0/24) - internal L2 bridge vlan-aware [services]
# bridge-vids: list VLAN IDs to use inside SRV
auto vmbr3
iface vmbr3 inet manual
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    bridge-vlan-aware yes
    bridge-vids 30-32
    comment "LAN SRV - VLANs (DMZ, INTERN, EXTERN)"
