# /etc/network/interfaces
source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

# Physical NIC 
auto {{ physical_nic }}
iface {{ physical_nic }} inet manual

# vmbr0 = physical interface.
auto vmbr0
iface vmbr0 inet static
    address {{ ansible_default_ipv4.address }}
	netmask {{ ansible_default_ipv4.netmask }}
	gateway {{ ansible_default_ipv4.gateway  }}
	bridge_ports {{ physical_nic }}
    bridge_stp off
    bridge_fd 0
    comment "Physical interface wired to BOX"

    # Enable forwarding
    post-up   echo 1 > /proc/sys/net/ipv4/ip_forward
    post-down echo 0 > /proc/sys/net/ipv4/ip_forward

	## UP

	# INPUT
	# Allow ping, loopback, established
	# Allow 22, 8006 from LAN
	post-up   iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
	post-up   iptables -A INPUT -i lo -j ACCEPT
	post-up   iptables -A INPUT -p icmp -j ACCEPT
	post-up   iptables -A INPUT -p tcp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 22   -j ACCEPT
	post-up   iptables -A INPUT -p tcp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 8006 -j ACCEPT
	post-up   iptables -A INPUT -j DROP

	# PREROUTING DNAT
	# Allow inbound traffic to FW1 (10.10.1.2) (443, 2222, 53)
    post-up   iptables -t nat -A PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 53   -j DNAT --to-destination 10.10.1.200:53
    post-up   iptables -t nat -A PREROUTING -p udp -d {{ ansible_default_ipv4.address }} --dport 53   -j DNAT --to-destination 10.10.1.200:53
    post-up   iptables -t nat -A PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 443  -j DNAT --to-destination 10.10.1.2:443
    post-up   iptables -t nat -A PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 2222 -j DNAT --to-destination 10.10.1.2:2222
    # == Additional ports / app specifics ==
	# Allow plex ports from LAN (local network discovery)
    post-up   iptables -t nat -A PREROUTING -p tcp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 32400       -j DNAT --to-destination 10.10.1.2:32400
    post-up   iptables -t nat -A PREROUTING -p udp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 32410:32414 -j DNAT --to-destination 10.10.1.2
	# Allow NAS ports from LAN
    post-up   iptables -t nat -A PREROUTING -p tcp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 2049        -j DNAT --to-destination 10.10.1.2:2049
	# == Additional ports / app specifics==

	# FORWARD
	# Allow forwards for DNATed services (443, 2222, 53) and established traffic
	post-up   iptables -A FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
	post-up   iptables -A FORWARD -p tcp -d 10.10.1.200 --dport 53   -j ACCEPT
	post-up   iptables -A FORWARD -p udp -d 10.10.1.200 --dport 53   -j ACCEPT
	post-up   iptables -A FORWARD -p tcp -d 10.10.1.2   --dport 443  -j ACCEPT
    post-up   iptables -A FORWARD -p tcp -d 10.10.1.2   --dport 2222 -j ACCEPT
	# == Additional ports / app specifics==
    # Plex ports forwarding (local network discovery)
    post-up   iptables -A FORWARD -p tcp -d 10.10.1.2 --dport 32400       -j ACCEPT
    post-up   iptables -A FORWARD -p udp -d 10.10.1.2 --dport 32410:32414 -j ACCEPT
	# NAS ports forwarding
    post-up   iptables -A FORWARD -p tcp -d 10.10.1.2 --dport 2049 -j ACCEPT
	# == Additional ports / app specifics==

	## DOWN

	# INPUT
    post-down iptables -D INPUT -j DROP
    post-down iptables -D INPUT -p tcp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 8006 -j ACCEPT
    post-down iptables -D INPUT -p tcp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 22   -j ACCEPT
    post-down iptables -D INPUT -p icmp -j ACCEPT
    post-down iptables -D INPUT -i lo -j ACCEPT
    post-down iptables -D INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

	# PREROUTING DNAT
    post-down iptables -t nat -D PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 53   -j DNAT --to-destination 10.10.1.200:53
    post-down iptables -t nat -D PREROUTING -p udp -d {{ ansible_default_ipv4.address }} --dport 53   -j DNAT --to-destination 10.10.1.200:53
    post-down iptables -t nat -D PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 443  -j DNAT --to-destination 10.10.1.2:443
    post-down iptables -t nat -D PREROUTING -p tcp -d {{ ansible_default_ipv4.address }} --dport 2222 -j DNAT --to-destination 10.10.1.2:2222
    # == Additional ports / app specifics==
	# Plex ports cleanup
    post-down iptables -t nat -D PREROUTING -p tcp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 32400 -j DNAT --to-destination 10.10.1.2:32400
    post-down iptables -t nat -D PREROUTING -p udp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 32410:32414 -j DNAT --to-destination 10.10.1.2
	# NAS ports cleanup
    post-down iptables -t nat -D PREROUTING -p tcp -s 192.168.1.0/24 -d {{ ansible_default_ipv4.address }} --dport 2049 -j DNAT --to-destination 10.10.1.2:2049
	# == Additional ports / app specifics==
	
	# FORWARD
	post-down iptables -D FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
	post-down iptables -D FORWARD -p tcp -d 10.10.1.2   --dport 443  -j ACCEPT
    post-down iptables -D FORWARD -p tcp -d 10.10.1.2   --dport 2222 -j ACCEPT
    post-down iptables -D FORWARD -p tcp -d 10.10.1.200 --dport 53 	 -j ACCEPT
    post-down iptables -D FORWARD -p udp -d 10.10.1.200 --dport 53 	 -j ACCEPT
    # == Additional ports / app specifics==
	# Plex ports cleanup
	post-down iptables -D FORWARD -p tcp -d 10.10.1.2 --dport 32400       -j ACCEPT
	post-down iptables -D FORWARD -p udp -d 10.10.1.2 --dport 32410:32414 -j ACCEPT
	# NAS ports cleanup
	post-down iptables -D FORWARD -p tcp -d 10.10.1.2 --dport 2049 -j ACCEPT
	# == Additional ports / app specifics==

# vmbr1 = LAN GW (10.10.1.0/24) - internal L2 bridge [gateway]
auto vmbr1
iface vmbr1 inet static
	address 10.10.1.1/32
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    comment "LAN GW"

	# Add route to vmbr1
	post-up   ip route add 10.10.1.0/24 dev vmbr1
    post-down ip route del 10.10.1.0/24 dev vmbr1

	## UP
	# POSTROUTING SNAT
	# Allow outbound traffic to internet via vmbr0
	post-up iptables -t nat -A POSTROUTING -s 10.10.1.0/24 -o vmbr0 -j MASQUERADE
	# FORWARD
	# Block NEW connections from vmbr1 to LAN 192.168.1.0/24
	# Allow vmbr1 to internet
	post-up iptables -A FORWARD -p tcp -d {{ nameserver_ip }} --dport 53 -j ACCEPT
	post-up iptables -A FORWARD -p udp -d {{ nameserver_ip }} --dport 53 -j ACCEPT
	post-up iptables -A FORWARD -d 192.168.1.0/24 -j DROP
	post-up iptables -A FORWARD -s 10.10.1.0/24 -o vmbr0 -j ACCEPT
	post-up iptables -A FORWARD -j DROP
	
	## DOWN
	# FORWARD
	post-down iptables -D FORWARD -p tcp -d {{ nameserver_ip }} --dport 53 -j ACCEPT
	post-down iptables -D FORWARD -p udp -d {{ nameserver_ip }} --dport 53 -j ACCEPT
	post-down iptables -D FORWARD -d 192.168.1.0/24 -j DROP
	post-down iptables -D FORWARD -s 10.10.1.0/24 -o vmbr0 -j ACCEPT
	post-down iptables -D FORWARD -j DROP
	# POSTROUTING SNAT
	post-down iptables -t nat -D POSTROUTING -s 10.10.1.0/24 -o vmbr0 -j MASQUERADE

# vmbr2 = LAN MGMT (10.10.2.0/24) - internal L2 bridge [management]
auto vmbr2
iface vmbr2 inet manual
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    comment "LAN MGMT"

# vmbr3 = LAN SRV (10.10.3.0/24) - internal L2 bridge vlan-aware [services]
# bridge-vids: list VLAN IDs to use inside SRV
auto vmbr3
iface vmbr3 inet manual
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    bridge-vlan-aware yes
    bridge-vids 30-32
    comment "LAN SRV - VLANs (DMZ, INTERN, EXTERN)"
