source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet manual

# Public bridge (Proxmox)
auto vmbr0
iface vmbr0 inet static
	address {{ ansible_default_ipv4.address }}
	netmask {{ ansible_default_ipv4.netmask }}
	gateway {{ ansible_default_ipv4.gateway  }}
	bridge_ports {{ ansible_default_ipv4.interface }}
	bridge_stp off
	bridge_fd 0

# Private subnet #1 (10.10.1.0/24)
auto vmbr1
iface vmbr1 inet static
	address 10.10.1.1
	netmask 255.255.255.0
	bridge_ports none
	bridge_stp off
	bridge_fd 0
	comment Internal network 1
	post-up echo 1 > /proc/sys/net/ipv4/ip_forward
	post-up iptables -t nat -A POSTROUTING -s 10.10.1.0/24 -o vmbr0 -j MASQUERADE
	post-down iptables -t nat -D POSTROUTING -s 10.10.1.0/24 -o vmbr0 -j MASQUERADE

# Private subnet #2 (10.10.2.0/24)
auto vmbr2
iface vmbr2 inet static
	address 10.10.2.1
	netmask 255.255.255.0
	bridge_ports none
	bridge_stp off
	bridge_fd 0
	comment Internal network 1
	post-up iptables -t nat -A POSTROUTING -s 10.10.2.0/24 -o vmbr0 -j MASQUERADE
	post-down iptables -t nat -D POSTROUTING -s 10.10.2.0/24 -o vmbr0 -j MASQUERADE
