PROXMOX_ADMIN_PASSWORD="admin!"
PACKER_PASSWORD="packer!"
TERRAFORM_PASSWORD="terraform!"

# packer
PROXMOX_API_URL="https://192.168.1.200:8006"
PROXMOX_API_TOKEN_ID="packer@pve!packer-token"
PROXMOX_API_TOKEN_SECRET="eadb42f2-c288-4c0e-83e7-a5110508745e"

PROXMOX_NODE="home"
PROXMOX_VM_TEMPLATE_NAME="vm-alpine-template"
PROXMOX_VM_TEMPLATE_ID="9002"

CONTROL_NODE_IP=192.168.1.165
SSH_ROOT_PASSWORD="root123456!"

# tf
TF_VAR_proxmox_api_url="https://192.168.1.200:8006"
TF_VAR_proxmox_api_token="packer@pve!packer-token=eadb42f2-c288-4c0e-83e7-a5110508745e"

TF_VAR_proxmox_node="home"
TF_VAR_proxmox_vm_template_name="vm-alpine-template"
TF_VAR_proxmox_vm_template_id="9002"
