# General
PROXMOX_API_URL="https://192.168.1.200:8006"
PROXMOX_NODE="home"
PROXMOX_DATASTORE_ID="local"
PROXMOX_VM_TEMPLATE_VIRT_NAME="alpine-virt-template"
PROXMOX_VM_TEMPLATE_VIRT_ID="9000"
PROXMOX_VM_TEMPLATE_STANDARD_NAME="alpine-standard-template"
PROXMOX_VM_TEMPLATE_STANDARD_ID="9001"

# Ansible - setup proxmox
PROXMOX_ADMIN_PASSWORD=""
PACKER_PASSWORD=""
TERRAFORM_PASSWORD=""

# Packer
CONTROL_NODE_IP="192.168.1.165"
SSH_ROOT_PASSWORD=""
KEYBOARD_LAYOUT="fr fr"

# Terraform
