### [!] DOMAINS
# Domain used for local network resolution => domain.tld (tld doesn't need to be a valid TLD). Choose anything you want
INTERNAL_DOMAIN=l.ab
# Domain used for outside of network resolution => Actual domain from a registrar.
# SWAG will generate a lets encrypt certs via the .ini file in swag/dns-conf
EXTERNAL_DOMAIN=example.com
# Host IP, IP of the proxmox machine exposed on the LAN
HOST_LAN_IP="192.168.1.200"

### [!] SWAG
# Which DNS provider you are using
# Depending on the DNS provider, you need to add support for the correct .init file in swag/dns-conf
# Already handled automatically: cloudflare, duckdns
# See the doc in swag/dns-conf
DNS_PROVIDER=cloudflare
# The token for your DNS provider (see swag/dns-conf)
DNS_PROVIDER_TOKEN=""

### [!] Authelia
# The secret key used to sign and verify the JWT. 
# Can be any string you want
# Example: a_very_important_secret
AUTHELIA_JWT_SECRET=""
# The encryption key that is used to encrypt sensitive information in the database. 
# Can be any string you want with a minimum length of 20
# Example: you_must_generate_a_random_string_of_more_than_twenty_chars
AUTHELIA_ENCRYPTION_KEY=""

# The user used to authenticate to Authelia
AUTHELIA_USER_NAME=admin
AUTHELIA_USER_EMAIL="admin@gmail.com"
# To generate the password:
# docker run --rm authelia/authelia:latest authelia crypto hash generate argon2 --password <password>
# Or at root level: ./src/utils/encrypt_argon <password>
# Example: $argon2id$v=19$m=65536,t=3,p=4$9hd+7UteaLeUupnQ76KyNA$ZbmNbUURQ1/Ej2bpXqO6nZ1jOvAVEQnMbCrRJHS9Ad0
# Copy the result of this command in the USER_PASSWORD variable
# User single quotes because the result contains $
AUTHELIA_USER_PASSWORD=''
AUTHELIA_USER_FAMILY_PASSWORD=''

### [!] DDNS-UPDATER
# For cloudflare only
# On the homepage, on the account home, on the domain line, click "copy zone ID" (clickable dots at the right of the line)
CLOUDFLARE_ZONE_ID=""

### OVERRIDES
# Override any other env var
