### [!] PLEX
# External domain that is used to connect from outside the network (see reverse-proxy)
EXTERNAL_DOMAIN=
# Token for the plex server. It is generated the first time, when the server is claimed.
# Can be found in Preferences.xml
PLEX_CLAIM=
# Username and Email for the account linked with the Plex server.
# Can be found in Preferences.xml
PLEX_USERNAME=
PLEX_EMAIL=
PLEX_FRIENDLY_NAME="media-server"
# Id of the machine for your plex server. It is generated the first time, when the server is claimed.
# Can be found in Preferences.xml
PLEX_MACHINE_IDENTIFIER=

### [!] API KEY SEEDS
# Provide any value you want that will be used as API key
API_KEY_OVERSEERR=""
WEBHOOK_OVERSERRR_DISCORD="" # optional, get the webhook URL from discord

### [!] Temporary
API_KEY_RADARR4K=""
API_KEY_RADARR=""
API_KEY_SONARR=""
API_KEY_SONARR4K=""

### OVERRIDES
# override any other env var
