### PLEX
PLEX_CLAIM=
PLEX_USERNAME=
PLEX_EMAIL=

### API KEY SEEDS
# Provide any value you want that will be used as API key
API_KEY_OVERSEERR=""
WEBHOOK_OVERSERRR_DISCORD="" # optional, get the webhook URL from discord

### OVERRIDES
# override any other env var
API_KEY_RADARR4K=""
API_KEY_RADARR=""
API_KEY_SONARR=""
API_KEY_SONARR4K=""