### [!] HOST
# IP of the machine that host this docker-compose app
MEDIA_SERVER_HOST_IP=
# Define a custom subdomain. Root domain should always be the same
MEDIA_SERVER_DOMAIN="l.ab"

### OVERRIDE
# Override any other env var
