### [!] GLOBAL
# Internal domain
INTERNAL_DOMAIN="l.ab"
# External domain that is used to connect from outside the network (see reverse-proxy)
EXTERNAL_DOMAIN=example.com

### [!] PLEX
# Token for the Plex server. It is generated the first time, when the server is claimed.
# Can be found in Preferences.xml
PLEX_CLAIM=
# Id of the machine for your Plex server. It is generated the first time, when the server is claimed.
# Can be found in Preferences.xml
PLEX_MACHINE_IDENTIFIER=
# Username and Email for the account linked with the Plex server.
# Can be found in Preferences.xml
PLEX_USERNAME=
PLEX_EMAIL=

### [!] API KEY SEEDS
# Provide any value you want that will be used as API key
# https://it-tools.tech/token-generator
API_KEY_OVERSEERR=""
WEBHOOK_OVERSEERR_DISCORD="" # optional, get the webhook URL from discord

### [!] MEDIA_MANAGEMENT
# Used to connect overseer to media-management
API_KEY_RADARR4K=""
API_KEY_RADARR=""
API_KEY_SONARR=""
API_KEY_SONARR4K=""

### OVERRIDES
# Override any other env var
