# Run echo -n "LongPassword" | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4
# Espace the 5 $ by adding $$ next to it
# Exemple : $argon2id$v=19$m=65540,t=3,p=4$ZVF0OS96YjcySDUrZWZRamMzWkNDN0ZRTTNvVFNmU2tUdXdGcHFWR0hGYz0$YN3baFmoLaLjlOob8P1xPDnos6TLhZwaJGLa3Hq/uWY
# Become : $$argon2id$$v=19$$m=65540,t=3,p=4$$ZVF0OS96YjcySDUrZWZRamMzWkNDN0ZRTTNvVFNmU2tUdXdGcHFWR0hGYz0$$YN3baFmoLaLjlOob8P1xPDnos6TLhZwaJGLa3Hq/uWY
VAULTWARDEN_ADMIN_TOKEN=