### [!] VAULTWARDEN

# To generate the password:
# At root level: ./src/scripts/utils/encrypt-sha512 <password>
# replace the $ by $$
# Example: 
#   After generation: $argon2id$v=19$m=65540,t=3,p=4$ZVF0OS96YjcySDUrZWZRamMzWkNDN0ZRTTNvVFNmU2tUdXdGcHFWR0hGYz0$YN3baFmoLaLjlOob8P1xPDnos6TLhZwaJGLa3Hq/uWY
#   Becomes: $$argon2id$$v=19$$m=65540,t=3,p=4$$ZVF0OS96YjcySDUrZWZRamMzWkNDN0ZRTTNvVFNmU2tUdXdGcHFWR0hGYz0$$YN3baFmoLaLjlOob8P1xPDnos6TLhZwaJGLa3Hq/uWY
# Copy the result of this command in the VAULTWARDEN_ADMIN_TOKEN variable
VAULTWARDEN_ADMIN_TOKEN=''

### OVERRIDES
# override any other env var
