### [!] VAULTWARDEN

# To generate the password:
# At root level: ./src/scripts/utils/encrypt-argon <password>
# replace the $ by $$
# Example: 
#   After generation: $argon2id$v=19$m=65540,t=3,p=4$cmFqY2NRVkcyRGthd1lBM0NCVUlETkdJWVAvOU4wTDIzTnpsM1lkQU9hdz0$ewFFV/RgQIooZSN6KN6MDLLRbJ9rXVJC4RsTaNgqegc
#   Becomes: $$argon2id$$v=19$$m=65540,t=3,p=4$$cmFqY2NRVkcyRGthd1lBM0NCVUlETkdJWVAvOU4wTDIzTnpsM1lkQU9hdz0$ewFFV/RgQIooZSN6KN6MDLLRbJ9rXVJC4RsTaNgqegc
# Copy the result of this command in the VAULTWARDEN_ADMIN_TOKEN variable
# User single quotes because the result contains $
VAULTWARDEN_ADMIN_TOKEN=''

### OVERRIDES
# Override any other env var
