### [!] HOST
# IP of the machine that host this docker-compose app
VAULTWARDEN_HOST_IP=
# Define a custom subdomain. Root domain should always be the same
VAULTWARDEN_DOMAIN="l.ab"

### OVERRIDE
# override any other env var
