!/_setup/**

# media subfolders and definitions
!config/data/root/
!config/data/root/**

# plugins configuration
!config/data/plugins/configurations/**
config/data/plugins/configurations/SSO-Auth.xml
config/data/plugins/configurations/Jellyfin.Plugin.OpenSubtitles.xml

# general config files
!config/encoding.xml
!config/logging.default.json
!config/network.xml
