!/_setup/**

# keep media subfolders
!/config/data/root/
!/config/data/root/**
!/config/data/plugins/**

# keep "neutral" config files
!/config/encoding.xml
!/config/logging.default.json
!/config/system.xml
!/config/network.xml
!/config/branding.xml
