### [!] VSCODE SERVER

# To generate the password:
# At root level: ./src/scripts/utils/encrypt-argon <password>
# Example: 
#   $argon2id$v=19$m=65540,t=3,p=4$ZVF0OS96YjcySDUrZWZRamMzWkNDN0ZRTTNvVFNmU2tUdXdGcHFWR0hGYz0$YN3baFmoLaLjlOob8P1xPDnos6TLhZwaJGLa3Hq/uWY
# Copy the result of this command in the VSCODE_SERVER_PASSWORD variable
VSCODE_SERVER_PASSWORD=''
### OVERRIDES
# override any other env var
