### [!] HOST
# IP of the machine that host this docker-compose app
VSCODE_SERVER_HOST_IP=
# Define a custom subdomain. Root domain should always be the same
VSCODE_SERVER_DOMAIN="l.ab"

### OVERRIDE
# override any other env var
