### [!] VSCODE SERVER

# To generate the password:
# At root level: ./src/utils/encrypt-argon <password>
# Example: 
#   $argon2id$v=19$m=65540,t=3,p=4$cmFqY2NRVkcyRGthd1lBM0NCVUlETkdJWVAvOU4wTDIzTnpsM1lkQU9hdz0$ewFFV/RgQIooZSN6KN6MDLLRbJ9rXVJC4RsTaNgqegc
# Copy the result of this command in the VSCODE_SERVER_PASSWORD variable
# User single quotes because the result contains $
VSCODE_SERVER_PASSWORD=''

### OVERRIDES
# Override any other env var
