set default=0
set timeout=10

menuentry "Preseeded Installation" {
    set gfxpayload=keep
    linux /install.amd/vmlinuz auto=true priority=high file=/cdrom/preseed.cfg --- quiet
    initrd /install.amd/initrd.gz
}
