### [!] VPN
VPN_SERVICE_PROVIDER=
VPN_USERNAME=
VPN_PASSWORD=

### [!] API KEY SEEDS
# Provide any value you want that will be used as API key
API_KEY_PROWLARR=""
API_KEY_BAZARR=""
API_KEY_RADARR=""
API_KEY_RADARR4K=""
API_KEY_SONARR=""
API_KEY_SONARR4K=""
API_KEY_MAINTAINERR=""
API_KEY_LIDARR=""

### [!] Temporary
API_KEY_OVERSEERR=""
PLEX_CLAIM=""

### [?] BAZARR
# optional
# create an account here: https://www.opensubtitles.com/
OPENSUBTITLE_USERNAME=""
OPENSUBTITLE_PASSWORD=""

### OVERRIDE
# override any other env var
