### [!] HOST
# IP of the machine that host this docker-compose app
MEDIA_MANAGEMENT_HOST_IP=
# Define a custom subdomain. Root domain should always be the same
MEDIA_MANAGEMENT_DOMAIN="l.ab"

### OVERRIDE
# override any other env var
