### [!] DOMAINS
# Domain used for local network resolution => domain.tld (tld doesn't need to be a valid TLD). Choose anything you want
INTERNAL_DOMAIN=l.ab
# Domain used for outside of network resolution => Actual domain from a registrar.
# SWAG will generate a lets encrypt certs via the .ini file in swag/dns-conf
EXTERNAL_DOMAIN=example.com

### [!] SANDBOX

### OVERRIDES
# Override any other env var
