### [!] GLOBAL
# Internal domain (local/lan)
INTERNAL_DOMAIN="l.ab"
# External domain that is used to connect from outside the network (see reverse-proxy)
EXTERNAL_DOMAIN=example.com
# Host IP, IP of the proxmox machine exposed on the LAN
HOST_LAN_IP="192.168.1.200"

# Server name in the configuration
MEDIA_SERVER_NAME="media-server"

### [!] PLEX
# Token for the Plex server. It is generated the first time, when the server is claimed.
# Can be found in Preferences.xml (doesn't start with claim_)
# PLEX_CLAIM=
# Id of the machine for your Plex server. It is generated the first time, when the server is claimed.
# Can be found in Preferences.xml
# PLEX_MACHINE_IDENTIFIER=
# Username and Email for the account linked with the Plex server.
# Can be found in Preferences.xml
# PLEX_USERNAME=
# PLEX_EMAIL=

### [!] Jellyfin
# Password for the default jellyfin admin user
JELLYFIN_ADMIN_PASSWORD=''
# Authelia client secret for OIDC
JELLYFIN_OIDC_CLIENT_SECRET=""
JELLYFIN_EXTERNAL_OIDC_CLIENT_SECRET=""

## [!] YAMTRACK
# Long token used by yamtrack for encryption
YAMTRACK_SECRET_ENCRYPTION_KEY=""
# Authelia client secret for OIDC
YAMTRACK_OIDC_CLIENT_SECRET=""
YAMTRACK_EXTERNAL_OIDC_CLIENT_SECRET=""

### [!] API KEY SEEDS
# Provide any value you want that will be used as API key
# Generator: https://it-tools.tech/token-generator
API_KEY_SEERR=""
WEBHOOK_SEERR_DISCORD="" # optional, get the webhook URL from discord

### [!] MEDIA_MANAGEMENT
# Used to connect Seer to media-management
API_KEY_RADARR4K=""
API_KEY_RADARR=""
API_KEY_SONARR=""
API_KEY_SONARR4K=""

### OVERRIDES
# Override any other env var
