### [!] NEXTCLOUD
NEXTCLOUD_ADMIN_USER=nextcloud
NEXTCLOUD_ADMIN_PASSWORD="long_password"

### [!] MYSQL
MYSQL_USER=nextcloud
MYSQL_PASSWORD="long_password"

### OVERRIDES
# Override any other env var
