[defaults]
inventory = ./inventory.ini
remote_user = ansible
host_key_checking = False
retry_files_enabled = False
# paths
roles_path = ./roles
templates_path = ./templates
log_path = logs/ansible.log
